body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.small-input {
  width: 100%; /* Ajusta el ancho del campo de entrada según tus preferencias */
}
